name: Django CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker image
      run: |
        docker build -t akhileshmony/crud-app:v1.0.3 .

    - name: Push Docker image
      run: |
        docker push akhileshmony/crud-app:v1.0.3

    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        script: |
          sudo docker pull akhileshmony/crud-app:v1.0.3
          sudo docker rm -f django1 || true
          sudo docker run -d \
            --name django1 \
            -p 80:8000 \
            akhileshmony/crud-app:v1.0.3
